@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --primary-Color: #264AFC;
    --secondary-Color: #FAAF4D;
    --text-Color: #0C0F2E;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #F7C32E;
    --error-Color: #F94C10;
    --grey-Color: #53545b;
    --black-Color: #000000;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: ;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 15px 20px;
    --button-border-radius: 5px;
    --button-font-weight: 500;
    --logo-border-radius: 15px;
    --jumbotron-padding: 30px 16px;
    --section-padding:30px 0px;
    --heading:50px;
    --heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
}
.fdb-block {
    padding: 0rem 0;
}
/* headere871d461930b46f7 */
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link{
color: var(--text-Color);
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover{
    color: var(--black-Color);
}
.headere871d461930b46f7 .btnregister{
 padding: var(--button-padding);
 border-radius: var(--button-border-radius);
 font-weight: var(--button-font-weight) !important;
 background-color: var(--primary-Color);
 color: var(--main-Background-Color);
}
/* abouth66a519b827a7d261 */
.abouth66a519b827a7d261 .DescriptionHeading{
    font-size: var(--heading);
    color: var(--text-Color);
}
.abouth66a519b827a7d261 .searchBtn{
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight) !important;
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
}
/* fulbf5e57dc82a907a3 */
.fulbf5e57dc82a907a3 .fdb-block{
    padding: 3.5rem 0;
}
.fulbf5e57dc82a907a3 h1{
    font-size: var(--heading-large);
}
.fulbf5e57dc82a907a3  h3 {
    font-size: var(--heading-medium);
}
.fulbf5e57dc82a907a3 strong {
    font-weight: 500 !important;
}
/* aboute50d5193e4b9f737 */
.aboute50d5193e4b9f737{
    padding: 4em;
}
.aboute50d5193e4b9f737 h2{
    font-size: var(--heading-large);
}
.aboute50d5193e4b9f737 .searchBtn{
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight) !important;
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
}
.aboute50d5193e4b9f737 .margin{
    margin-left: -40px;
}
/* blogec6cc8e186617bf6 */
.blogec6cc8e186617bf6 .blog-home3 h3{
    font-size: var(--heading-large);
    color: var(--text-Color);
}   
.blogec6cc8e186617bf6 .blog-home3 .subtitle {
    color: var(--text-Color);
}
.blogec6cc8e186617bf6 .blog-home3 .bg-success-gradient{
    background: linear-gradient(to left, var(--success-Color) 0%, var(--alert-Color) 100%);
}
.blogec6cc8e186617bf6 .blog-home3 .date-pos {
    font-size: 16px;
}
.blogec6cc8e186617bf6 .blog-home3 h5{
    font-size: var(--paragraph);
}
.blogec6cc8e186617bf6 .h5 {
    font-size: 18px;
}
.blogec6cc8e186617bf6 .blog-home3 a.link:hover {
    color: var(--primary-Color);
}
/* testimonialtmrwms6esfu */
.testimonialtmrwms6esfu .fdb-block{
    padding: 3.5rem 0;
}
.testimonialtmrwms6esfu .fdb-block .fdb-touch {
    border-top: solid 0.3125rem var(--success-Color);
}
.testimonialtmrwms6esfu .fdb-block .fdb-box {
    padding: 1.75rem 2.5rem;
}
/* teamtmihhweefbf */
.teamtmihhweefbf .fdb-block{
    padding: 0rem 0;
}
.teamtmihhweefbf h1 {
    font-size: var(--heading-large);
}
.teamtmihhweefbf h2 {
    font-size: var(--heading-medium);
    margin-top: 10px;
}
.teamtmihhweefbf .rounded-circle{
    border-radius: var(--logo-border-radius);
}
/* formftlgrwunk3s */
.formftlgrwunk3s{
    padding: 4em;
}
.formftlgrwunk3s h1 {
    font-size: var(--heading-large);
}
.formftlgrwunk3s .lead{
    font-size: var(--paragraph);
}
.formftlgrwunk3s a,
.formftlgrwunk3s a:hover{
   color: var(--primary-Color);
}
.formftlgrwunk3s .btn-primary,
.formftlgrwunk3s .btn-primary:hover,
.formftlgrwunk3s .btn-primary:not(:disabled):not(.disabled):active{
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight) !important;
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
}
/* footerb6c9fcc0294384085 */
.footerb6c9fcc0294384085 footer{
    background: var(--grey-Color);
}
.footerb6c9fcc0294384085 .h3{
    color: var(--main-Background-Color);
}
.footerb6c9fcc0294384085 .form-control:focus{
    background: var(--main-Background-Color);
}
.footerb6c9fcc0294384085 .fa{
    color: var(--main-Background-Color);
}
.footerb6c9fcc0294384085 .mini-footer p a {
    color: var(--warning-Color);
}
.footerb6c9fcc0294384085 .mini-footer p a:hover{
    color: var(--success-Color);
}